<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://openlayers.org/en/v4.1.0/build/ol.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>Icy Polar Opposites</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row"><div class="col-md-12"><h2>Icy Polar Opposites</h2></div></div>
      <div class="row">
        <div class="col-lg-6">
          <h3>South Pole</h3>
          <div id="map-south" class="map"></div>
        </div>
      <div class="col-lg-6">
        <h3>North Pole</h3>
        <div id="map-north" class="map"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <label for="year">Year selected:</label>
          <input type="text" id="year" readonly style="padding-top: 20px;border:0; color:#f6931f; font-weight:bold;">
        </p>
      <div id="slider-range-min"></div></div>
    </div>
    </div>

    <script type="text/javascript">
    var now = new Date();
    $( function() {
      $( "#slider-range-min" ).slider({
        range: "min",
        value: 2000,
        min: 2000,
        max: now.getYear()+1900,
        slide: function( event, ui ) {
          $( "#year" ).val( ui.value );
        }
      });
      $( "#year" ).val( " " +$( "#slider-range-min" ).slider( "value" ) );
    });

    var pointcoo =ol.proj.fromLonLat([302, 83])
    console.log(pointcoo)

      var geojsonObject = {
        'type': 'FeatureCollection',
        'features': [
          {
            'type': 'Feature',
            'geometry': {
              'type': 'Polygon',
              'coordinates': [[[302.947372,83.394029], [303.262088,83.446553], [304.216108,83.580334]]]
            }
          },
          {
            'type': 'Feature',
            'geometry': {
              'type': 'Point',
              'coordinates': [302, 83]
            }
          }]
        };



        var vector = new ol.layer.Vector({
          source: new ol.source.Vector({
            features: (new ol.format.GeoJSON()).readFeatures(geojsonObject,{
              featureProjection: 'EPSG:3857'
            }),
            format: new ol.format.GeoJSON(),
          }),
          style: new ol.style.Style({
            stroke: new ol.style.Stroke({
              color: 'blue',
              width: 3
            }),
            fill: new ol.style.Fill({
              color: 'rgba(0, 0, 255, 0.1)'
            })
          })

          });

      var mapSouth = new ol.Map({
        target: 'map-south',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          vector
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-15.0, -75.0]),
          zoom: 3
        })
      });
      var mapNorth = new ol.Map({
        target: 'map-north',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          vector
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-20.0, 80.0]),
          zoom: 3
        })
      });
    </script>
  </body>
</html>
